<h1 appTitle>{{title|uppercase}}</h1>

<ng-container *ngIf="currencies.length==0 then noCurrency else currency">
</ng-container>

<ng-template #currency>
  
 <form [formGroup]="form" appTitle>
  <div style="display: inline-block;">
  <select formControlName="currency1">
    <option *ngFor="let curr1 of currencies" value="{{curr1.cc}}">      
    {{curr1?.cc+' - '+curr1.txt}}
    </option>
  </select><br>
  <input type="text"  formControlName="sum1" (input)="firstInput()">
  </div>
  <div style="display: inline-block;">
  <input type="button" value="<==>" (click)="onChangeClick()">
  </div>
  <div style="display: inline-block;">
  <select formControlName="currency2">
    <option *ngFor="let curr2 of currencies" value="{{curr2.cc}}">
    {{curr2?.cc+' - '+curr2.txt}}
    </option>
  </select><br>
  <input type="text" formControlName="sum2" (input)="secondInput()">
</div>
<p>{{(1|currency:first?.cc:'':'.0-3')+' '+first?.txt+' = '+(rate||0|currency:second?.cc:'':'.0-3')+' '+second?.txt}}</p>
 </form>
</ng-template>

<ng-template #noCurrency>
 <p>Немає валют</p>
</ng-template>
