<h1 appTitle>{{title|uppercase}}</h1>

<ng-container *ngIf="currencies.length==0 then noCurrency else currency">
</ng-container>

<ng-template #currency>
 <form>
  <span>{{currencies[index_from].txt}}</span><br>
  <input type="number" (input)="firstInput($event)" value="{{first}}">
  <p>{{first}}</p>
 </form>

 <form>
  <span>{{currencies[index_to].txt}}</span><br>
  <input type="number" (input)="secondInput($event)" value="{{second}}">
  <p>{{second}}</p>
 </form>
 <table>
    <tr>
        <th>Валюта</th>
        <th>Курс</th>
    </tr>
    <tr *ngFor="let curr of currencies">
        <td>{{curr.txt}}</td>
        <td>{{(currencies.length==1?'Одна валюта: ':'')+
            (curr.rate|currency:curr.cc:'code':'.0-2'|currencyTitle)}}</td>
    </tr>
 </table>
</ng-template>

<ng-template #noCurrency>
 <p>Немає валют</p>
</ng-template>
